<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Pilas Bloques Login</title>

    <link rel="stylesheet" type="text/css" href="/staticos/assets/css/login.css">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
      let errores = ""

      function areErrorsPresent(password, password2) {
        const isPassword2Valid  = password && password2 && password.length >= 8 && new RegExp("^"+ password + "$").test(password2);
        !isPassword2Valid && (errores += "Las contraseñas no coinciden\n");
        return !isPassword2Valid;
      }

      window.addEventListener('load', () => {
        document.getElementById('login-form').addEventListener('submit', e => {
          e.preventDefault();
          const password = document.getElementById('password');
          const password2 = document.getElementById('password2');
          if (areErrorsPresent(password.value, password2.value)) {
            showErrors();
          } else {
            const token = window.location.search.slice(7)
            changePassword(token, password.value)
          }
        });

        cleanErrors();
      });

      function changePassword(token, password) {
        axios({ method: "POST", url: 'api/changePassword', data: { token, password }, withCredentials: true })
          .then(() => window.location.href='/passwordChanged')
          .catch(() => showErrors());
      }

      function showErrors() {
        document.getElementById('error-message').innerText = errores
        errores = ""
        getEmailAndPassword().forEach(addErrorClass);
        document.getElementById('error-message').classList.add('form__error-message-active');
      }

      function cleanErrors() {
        document.getElementById('login-form').addEventListener('input', () => {
          getEmailAndPassword().forEach(removeErrorClass);
          document.getElementById('error-message').classList.remove('form__error-message-active');
        });
      }

      const addErrorClass = input => input.classList.add('input__error');
      const removeErrorClass = input => input.classList.remove('input__error');
      const getEmailAndPassword = () => Object.values(document.getElementsByTagName('input'));

    </script>
</head>
<body>
<div class="login-container">

    <form action="/changePassword" id="login-form" method="post" class="login-container__form">
        <img src="/staticos/assets/images/main-logo.png" alt="" class="form__pilas-bloques-logo"/>

        <input placeholder="Ingresa tu nueva contraseña" type="password" id="password" name="password"/>
        <input placeholder="Repeti tu contraseña" type="password" id="password2" name="password2"/>

        <label id="error-message" class="form__error-message">Usuario o contraseña incorrectos</label>

        <button class="form__submit-button" id="submit">Cambiar contraseña</button>

    </form>

</div>
</body>

</html>
