<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Pilas Bloques Login</title>

    <link rel="stylesheet" type="text/css" href="/staticos/assets/css/login.css">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
      let errores = "Error: los siguientes campos son invalidos:\n" // belleza
      function areErrorsPresent(username, password) {
        const isUsernameValid = username;
         !isUsernameValid && (errores += "- Nombre de usuario: incompleto\n");
        const isPasswordValid = password && password.length >= 8;
        !isPasswordValid && (errores += "- Contraseña: debe tener minimo 8 caracteres \n");
        return !isUsernameValid || !isPasswordValid;
      }

      window.addEventListener('load', () => {
        document.getElementById('login-form').addEventListener('submit', e => {
          e.preventDefault();
          const username = document.getElementById('username');
          const password = document.getElementById('password');
          if (areErrorsPresent(username.value, password.value)) {
            showErrors();
          } else {
            login(username.value, password.value)
          }
        });

        cleanErrors();
      });

      function login(username, password) {
        axios({ method: "POST", url: 'api/login', data: { username, password }, withCredentials: true, headers: {"Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3"} })
          .then(() => window.location.href='/inicio')
          .catch(() => showServerErrors());
      }

      function showServerErrors() {
        getEmailAndPassword().forEach(addErrorClass);
        document.getElementById('server-error-message').classList.add('form__error-message-active');
      }


      function showErrors() {
        document.getElementById("error-message").innerText = errores;
        errores = "Error: los siguientes campos son invalidos:\n"
        getEmailAndPassword().forEach(addErrorClass);
        document.getElementById('error-message').classList.add('form__error-message-active');
      }

      function cleanErrors() {
        document.getElementById('login-form').addEventListener('input', () => {
          getEmailAndPassword().forEach(removeErrorClass);
          document.getElementById('error-message').classList.remove('form__error-message-active');
          document.getElementById('server-error-message').classList.remove('form__error-message-active');
        });
      }

      const addErrorClass = input => input.classList.add('input__error');
      const removeErrorClass = input => input.classList.remove('input__error');
      const getEmailAndPassword = () => Object.values(document.getElementsByTagName('input'));

    </script>
</head>
<body>
<div class="login-container">

    <form action="/login" id="login-form" method="post" class="login-container__form">
        <img src="/staticos/assets/images/main-logo.png" alt="" class="form__pilas-bloques-logo"/>

        <input autofocus placeholder="Ingresa tu usuario" id="username" name="username" type="text"/>
        <input placeholder="Ingresa tu contraseña" type="password" id="password" name="password"/>

        <label id="error-message" class="form__error-message">Usuario o contraseña incorrectos</label>

        <label id="server-error-message" class="form__error-message">Usuario o contraseña incorrectos</label>

        <button class="form__submit-button" id="submit">Ingresar</button>

        <div class="form__login-footer">
            <div class="login-footer__item-container">
                <label class="login-footer__item-text">¿Olvidaste tu contraseña?</label>
                <a href="/recoverPassword" class="login-footer__item-link">Obtené ayuda</a>
            </div>
            <div class="divisor"></div>
            <div class="login-footer__item-container">
                <label class="login-footer__item-text"> ¿No tenés una cuenta?</label>
                <a href="/register" class="login-footer__item-link">Regístrate</a> o
                <a onClick="login('invitado', 'invitado123')" class="login-footer__item-link">Ingresa como invitado</a>
            </div>
        </div>
    </form>

</div>
</body>

</html>
