<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Pilas Bloques Login</title>

    <link rel="stylesheet" type="text/css" href="staticos/assets/css/login.css">
</head>
<body>
<div class="login-container">

    <div class="login-container__form">
        <img src="staticos/assets/images/main-logo.png" alt="" class="form__pilas-bloques-logo"/>

        <label class="login-footer__item-text" style="font-size: 1.7em">Tu contraseña ha sido enviada via mail</label>
        <a class="form__submit-button" href="/login">Iniciar Sesión</a>
    </div>

</div>
</body>

</html>
