<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Pilas Bloques Login</title>

    <link rel="stylesheet" type="text/css" href="staticos/assets/css/login.css">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">

      function areErrorsPresent(email) {
        const regexForValidateEmail = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        const isEmailValid = email && regexForValidateEmail.test(email);
        return !isEmailValid;
      }

      window.addEventListener('load', () => {
        document.getElementById('login-form').addEventListener('submit', e => {
          e.preventDefault();
          const email = document.getElementById('email');
          if (areErrorsPresent(email.value)) {
            showErrors();
          } else {
            recoverPassword(email.value)
          }
        });

        cleanErrors();
      });

      function showServerError() {
        getEmailAndPassword().forEach(addErrorClass);
        document.getElementById('server-error-message').classList.add('form__error-message-active');
      }

      function recoverPassword(email) {
        axios.post('http://localhost:9001/api/recoverPassword', { email })
          .then(() => window.location.href='/passwordSent')
          .catch(() => showServerError());
      }

      function showErrors() {
        getEmailAndPassword().forEach(addErrorClass);
        document.getElementById('error-message').classList.add('form__error-message-active');
      }

      function cleanErrors() {
        document.getElementById('login-form').addEventListener('input', () => {
          getEmailAndPassword().forEach(removeErrorClass);
          getErrorMessages().forEach(errorMessage => {
            errorMessage.classList.remove('form__error-message-active');
          });
        });
      }

      const addErrorClass = input => input.classList.add('input__error');
      const removeErrorClass = input => input.classList.remove('input__error');
      const getEmailAndPassword = () => Object.values(document.getElementsByTagName('input'));
      const getErrorMessages = () => [document.getElementById('error-message'), document.getElementById('server-error-message')];

    </script>
</head>
<body>
<div class="login-container">

    <form action="/recoverPassword" id="login-form" method="post" class="login-container__form">
        <img src="staticos/assets/images/main-logo.png" alt="" class="form__pilas-bloques-logo"/>
        Ingresá tu direccion de email, si existe una cuenta con el mismo te vamos a enviar un link para restablecer la contraseña <br/ ><br/ >
        <input autofocus placeholder="Ingresa tu email" id="email" name="email" type="text"/>

        <label id="error-message" class="form__error-message">Email incorrecto</label>
        <label id="server-error-message" class="form__error-message">Email no existente</label>

        <button class="form__submit-button" id="submit">Recuperar contraseña</button>
    </form>

</div>
</body>

</html>
