.commentsContainer {
  margin: auto;
  width: 90%;
}

.commentTitle {
  text-align: left;
}

.commentAutor {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: purple;
}

.commentDate {
  margin-left: 5px;
  text-align: left;
  font-size: 15px;
  font-style: italic;
}

.commentParagraph {
  text-align: justify;
  padding: 5px;
  display:block;
  word-wrap: break-word;
}

.commentButton {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

textArea {
  margin-top:15px;
}