.listContainer {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}

.levelButton {
  margin: 5px;
}

.actionLink {
  width: 4%;
  margin-left: 10px;
  margin-right: 10px;
}

.centerColumn{
  display: flex ;
  justify-content:center;
  align-self: center;
}
.centerColumn:vertical {
  flex-direction: column;
}

.badge {
  margin: 2px;
}